.cabecalho {
    display: flex;
    padding: 1em;
    background: var(--cor-de-fundo);
    box-shadow: var(--shadow--escura-destaque);
    border-bottom: 1px solid var(--cinza-claro);
}

.cabecalho__menu {
    display: none;
}


.logo {
    border: 0;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-size: var(--font-size-logo-desktop);
    font-weight: 700;
    
    background-image: var(--rosa-lilas);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    
}

.logo:hover {
    animation-name: animacao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    filter: drop-shadow(0 0 5px #444);
}

@keyframes animacao {

    0%, 10%, 100% {
        background: linear-gradient(to left, #743ad5, #c94699e3);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    70%, 90% {
        background: linear-gradient(to left, #c94699e3, #743ad5);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media screen and (max-width:710px) {

    .cabecalho {
        display: flex;
        align-items: center;
        column-gap: 28vw;
        padding: 0.5em 1em;
    }

    .cabecalho__menu {
        display: block;
        background-color: transparent;
        border: none;
    }

    .cabecalho__menu i {
        font-size: 24px;
        background: var(--rosa-lilas);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
    }

    .logo {
        font-size: var(--font-size-logo-mobile);
    }
}

@media screen and (min-width: 1400px) {

    .cabecalho {
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }

    .logo {
        font-size: 30px;
        text-align: center;
    }
}


