.menu {
    padding: 1em 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--cor-de-fundo);
    box-shadow: var(--shadow--escura-destaque);
    border-bottom: 1px solid var(--cinza-claro);
   
}

.menu-lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5em;    
}

.menu-lista__item {
    display: inline;
}

.menu-lista__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--lilas);
    
}

.menu-lista__link:hover {
    color: var(--rosa);
}


.menu-lista__link-animacao {
    animation-name: animacao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    filter: drop-shadow(0 0 5px #858585);
}

@keyframes animacao {

    0%, 10%, 100% {
        background: linear-gradient(to left, #743ad5, #c94699e3);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    70%, 90% {
        background: linear-gradient(to left, #c94699e3, #743ad5);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}


@media screen and (max-width: 710px) {


    .menu {
        padding: 0; 
        border-bottom: none;

    }

    .menu-lista-mobile {
        padding: 0.5em;
        display: flex;
        justify-content: flex-start;
        /* row-gap: 0.5em; */
        flex-direction: column;
        width: 48vw;
        top: var(--header-height-mobile);
        height: calc(100vh - 115px);
        background-color: var(--cor-de-fundo);
    
        z-index: 5;
        position: absolute;
        left: -100vw;
        transition: .25s;
    }
    
    .menu-lista-mobile--ativo {
        left: 0;
        transition: .25s;
    }

    .menu-lista__item {
        width: 100%;
        height: auto; 
    }

    .menu-lista__link i{
        position: absolute;
        left: 4vw;
        font-size: 18px;
    }

    .menu-lista__link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        height: 64px;
        padding-left: 40px; /* icone vai estar no padding, pois foi inserido por insertBefore()*/
        
    }

    .menu-lista__link:hover {
        color: var(--rosa);
    }

    .menu-lista__link > i {
        font-size: 16px;
    }
    

}


@media screen and (min-width: 1400px) {

    .menu {
        border-left: 1px solid var(--cinza-claro);
    }

    .menu-lista {
        column-gap: 3em;
    }

    .menu-lista__link {
        font-size: 28px;
    }
}

